<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DbApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySplash"
        tools:targetApi="31">
        <activity
            android:name=".presentation.modules.addReview.AddReviewActivity"
            android:exported="false"
            android:label="@string/title_activity_add_review"
            android:theme="@style/Theme.MySplash" />
        <activity
            android:name=".presentation.modules.addbook.AddBookActivity"
            android:exported="false"
            android:label="@string/title_activity_add_book"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".presentation.modules.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>